* {
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  bottom: 0;
  top: 0;
  width: 100%;
}

form label {
  text-align: left;
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.navigation .invoke {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 5rem;
  color: #000;
}

.side-nav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222;
  overflow: hidden;
  transition: 0.5s;
}

.side-nav a {
  padding: 2rem 0 0 5rem;
  text-decoration: none;
  font-size: 3rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4rem;
}

.with-background {
  background-image: url('./Banner.jpg');
  background-size: cover;
}

.with-second-background {
  background-image: url('./SecondBanner.jpg');
  background-size: cover;
  min-height: 50vh;
}

.section {
  padding: 8rem 0 12rem;
  text-align: center;
}

.footer {
  padding: 2rem 0 6rem;
  color: #fff;
  background-color: #5e6063;
  margin-top: auto;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: #0FA0CE;
  text-decoration: none;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.section-search {
  padding: 1rem 0 0;
}

.button {
  margin: 2rem;
}

.description {
  padding: 8rem 0 8rem;
}

.footer ul {
  list-style: none;
}

.heading {
  margin-top: 2rem;
}

.items {
  display: block;
  margin-top: 2rem;
}

.item {
  margin: 0 2rem 2rem 0;
  padding: 1rem;
  height: 45rem;
  background-color: #fff;
  border: solid 0.1rem #222;
}

.item img {
  display: block;
  margin: auto;
}

.meal-item {
  margin: 0 2rem 2rem 0;
  padding: 1rem;
  height: 10rem;
  background-color: #222;
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
}

.date-display {
  margin-top: 2rem;
}

.image-div {
  height: 15rem;
}

.meal-form {
  width: 100%;
}

.meal-form input {
  margin: 0 1rem 1rem 0;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#copyright {
  position: absolute;
  margin-bottom: 0;
}

#searchTitle {
  text-align: left;
}

#searchButt {
  margin-top: 0;
}
